<form [formGroupName]="controlKey">
  <div class="form-field">
    <label for="username">Username*</label>
    <input id="username" formControlName="username" [class.error-field]="isControlErrorsShown('username')" appUniqueUsernameValidator />
    <p *ngIf="formGroup?.get('username')?.touched && formGroup?.get('username')?.hasError('required')" class="error-message">Username is required</p>
    <p *ngIf="formGroup?.get('username')?.touched && formGroup?.get('username')?.hasError('usernameTaken')" class="error-message">Username is taken</p>
  </div>

  <div class="form-field">
    <label for="firstName">First name*</label>
    <input id="firstName" formControlName="firstName" [class.error-field]="isControlErrorsShown('firstName')" />
    <p *ngIf="formGroup?.get('firstName')?.touched && formGroup?.get('firstName')?.hasError('required')" class="error-message">First name is required</p>
  </div>

  <div class="form-field">
    <label for="lastName">Last name*</label>
    <input id="lastName" formControlName="lastName" [class.error-field]="isControlErrorsShown('lastName')" />
    <p *ngIf="formGroup?.get('lastName')?.touched && formGroup?.get('lastName')?.hasError('required')" class="error-message">Last name is required</p>
  </div>

  <div class="form-field">
    <label for="email">Email*</label>
    <input id="email" formControlName="email" [class.error-field]="isControlErrorsShown('email')" />
    <p *ngIf="formGroup?.get('email')?.touched && formGroup?.get('email')?.hasError('required')" class="error-message">Email is required</p>
    <p *ngIf="formGroup?.get('email')?.touched && formGroup?.get('email')?.hasError('email')" class="error-message">Email has wrong pattern</p>
  </div>

  <div class="form-field">
    <label for="type">Type*</label>
    <select id="type" formControlName="type" [class.error-field]="isControlErrorsShown('type')">
      <option value="ADMIN">Administrator</option>
      <option value="DRIVER">Driver</option>
    </select>
    <p *ngIf="formGroup?.get('type')?.touched && formGroup?.get('type')?.hasError('required')" class="error-message">Type is required</p>
  </div>

  <div class="form-field">
    <label for="password">Password*</label>
    <input id="password" formControlName="password" [class.error-field]="isControlErrorsShown('password')" type="password" appPasswordValidator />
    <p *ngIf="formGroup?.get('password')?.touched && formGroup?.get('password')?.hasError('required')" class="error-message">Password is required</p>
    <p *ngIf="formGroup?.get('password')?.touched && formGroup?.get('password')?.hasError('invalidPassword')" class="error-message">Password should have at least 8 characters, one letter and one number</p>
  </div>

  <div class="form-field">
    <label for="passwordRepeat">Repeat password*</label>
    <input id="passwordRepeat" formControlName="passwordRepeat" [class.error-field]="isControlErrorsShown('passwordRepeat')" type="password" appPasswordMatchValidator />
    <p *ngIf="formGroup?.get('passwordRepeat')?.touched && formGroup?.get('passwordRepeat')?.hasError('required')" class="error-message">Repeat password is required</p>
    <p *ngIf="formGroup?.get('passwordRepeat')?.touched && formGroup?.get('passwordRepeat')?.hasError('passwordmatcherror')" class="error-message">Repeat password should be the same as password</p>
  </div>
</form>
