:host {
  padding: 0 46px;
  
  display: flex;
  column-gap: 26px;

}

.buttons {
  display: flex;
  justify-content: flex-end;

  margin-bottom: 16px;
}

.table {
  flex: 2;

  width: 100%;
  height: 100%;
}

.form {
  padding-top: 62px;
  flex: 1;

  .form-container {
    width: 100%;
    height: 100%;
  }
}